// text colors
$text-color: #000000;
$btn-text-color: white;

// background colors
$bg-primary: #ece8e5;
$bg-card-back: #3a718c;
$bg-btn-start: #fccf5b;
$bg-btn-play-again: #41a186;

// radius
$card-radius: 0.5rem;
$btn-radius: 0.4rem;

// spacing
$gap-sm: 0.6rem;
$gap-lg: 2rem;
